merci-api/.settings/org.eclipse.wst.common.project.facet.core.xml
merci-core/.settings/org.eclipse.wst.common.project.facet.core.xml
merci-domain/.settings/org.eclipse.wst.common.project.facet.core.xml
merci-store/.settings/org.eclipse.wst.common.project.facet.core.xml
merci-web/.settings/org.eclipse.wst.common.project.facet.core.xml
