<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(title='Lista de Fornecedores')"></head>    
<body class="nav-md">
 <div class="container body">
   <div class="main_container">
   	 <div th:replace="fragments/sidebar :: content"></div>	
     <div th:replace="fragments/top :: navigation"></div>

     <!-- page content -->
     <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Fornecedor</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." />
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nome</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="fornecedor : ${fornecedores}">
                          <td th:text="${fornecedor.nome}"></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
     <!-- /page content -->

 	<div th:replace="fragments/footer :: content"></div>    
   </div>
 </div>

    
    <div th:replace="fragments/scripts :: import"></div>
</body>              
</html>