<html xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="top">
		<head th:replace="fragments/head :: head"></head>
    
	    <body class="nav-md">
		    <div class="container body">
		      <div class="main_container">
		       	<div th:replace="fragments/sidebar :: content"></div>	
		        <div th:replace="fragments/top :: navigation"></div>
		
		        <!-- page content -->
		        <div class="right_col" role="main">
		          
		          <div class="row">
		            <div class="col-md-12 col-sm-12 col-xs-12">
		              <div class="dashboard_graph"> <!-- start dashboard_graph -->
		
		                <div class="row x_title">
		                  <div class="col-md-6">
		                    <h3><label th:text="${title}"></label> <small th:text="${subtitle}"></small></h3>
		                  </div>
		                </div>	
	</div>
	
	<div th:fragment="bottom">
			</div> <!-- end dashboard_graph -->
		            </div>
		
		          </div>
		          <br />	
		        </div>
		        <!-- /page content -->
		
		    	<div th:replace="fragments/footer :: content"></div>    
		      </div>
		    </div>
			
	        
	        <div th:replace="fragments/scripts :: import"></div>
	    </body>
	</div>

</html>