<html xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="import">
		<!-- jQuery -->
	    <script th:src="@{/js/jquery/jquery.min.js}"></script>
	    <!-- Bootstrap -->
	    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	    <!-- FastClick -->
	    <script th:src="@{/js/fastclick/fastclick.js}"></script>
	    <!-- NProgress -->
	    <script th:src="@{/js/nprogress/nprogress.js}"></script>
	    <!-- Chartjs -->
	    <script th:src="@{/js/chartjs/Chart.min.js}"></script>
	    
	    <!-- Template custom -->
	    <script th:src="@{/js/template/custom.js}"></script>
	    <!-- Requests -->
	    <script th:src="@{/js/merci/requests.js}"></script>
	    <!-- Merci -->
	    <script th:src="@{/js/merci/main.js}"></script>
	</div>

</html>